<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <a href="/drive/folder/<%= folderId %>">[back to Drive]</a>
    <div><%= fileDetails.id %></div>
    <div><%= fileDetails.originalName %></div>
    <div><%= fileDetails.uploadedAt %></div>
    <div><%= fileDetails.fileName %></div>
    <div><%= fileDetails.path %></div>
    <div><%= fileDetails.size %></div>
  </body>
</html>
